html * {
  font-family: "Noto Sans JP", sans-serif;
}
.stroke {
  text-shadow:1px 1px 0 #fff, -1px -1px 0 #fff,
              -1px 1px 0 #fff, 1px -1px 0 #fff,
              0px 1px 0 #fff,  0-1px 0 #fff,
              -1px 0 0 #fff, 1px 0 0 #fff;
}
.border {
  border: solid;
  box-sizing: border-box;
  border-radius: 20px;
  border-width: 10px;
  border-color: yellow;
}
.cards {
  display: flex;
  justify-content: center;
}
